.discover {
	.container {
		margin: 0 auto;
		width: 30%;
	}

	.user-section {
		display: flex;
		height: 88%;

		.react-swipeable-view-container>div {
			overflow: unset !important;
		}

		.user {
			&__image {
				img {
					width: 100%;
					height: 100%;
				}
			}

			&__info {
				text-align: center;
			}
		}
	}

	.action {
		&-section {
			display: flex;
			padding: 16px 0;
			justify-content: center;
		}

		&__item {
			margin: 0 16px;
			padding: 16px;
			text-align: center;
			border-radius: 35px;
			outline: none;

			&:hover {
				cursor: pointer;
			}

			&--pink {
				color: #fb78a0;
				background-color: #fdf6f8;
			}

			&--yellow {
				color: #ffcb57;
				background-color: #fdf9f0;
			}
		}
	}
}