.matches-history {
    max-height: 100%;
    overflow-x: hidden;

    .matches-user {
        &__list {
            padding: 12px;
        }

        &__item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;

            .info {
                margin-left: 16px;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }
}